*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('/img/fundoToDoList.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-height: 90vh;

}

header{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    gap: 100px;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4 , 100px);
}   
aside{
    grid-column: 1 / 2;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    width: 190px;
    height: 500px;
    gap: 10px;
}

section.todas{
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    border: 1px solid rgba(255, 136, 0, 0.623);
}

.Todas{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    max-width: 80;
    max-height: 0px;
    border-radius: 8px;
    gap: 5px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(255, 136, 0, 0.623);

}

.andamento{
    display: grid;

}
.fazer{
    display: grid;
    
}
.concluidas{
    display: grid;
    
}
.andamento>div{
    width: 100%;

}
.fazer>div{
    width: 100%;

}
.concluidas>div{
    width: 100%;
}

div.altaPrioridade-A{
    grid-row: 1;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ff00004f;
}

div.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    height: 90%;
    gap: 1px;
    background-color: transparent;
    flex-direction: column;
    overflow-y: auto;
    border-top: 2px solid rgba(182, 174, 174, 0.445);
}

.btnADD img{
    height: 15px;
    cursor: pointer;
}


.itens::-webkit-scrollbar {
    width: 5px; /* Largura da scrollbar */
}

.itens::-webkit-scrollbar-thumb {
    background-color: #c9c8c8; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.itens::-webkit-scrollbar-track {
    background-color: #f5f3f35e; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.itens::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}

div.mediaPrioridade-A{
    grid-row: 2;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    gap: 5px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e7bf0a63;

}

.mediaPrioridade-A::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.mediaPrioridade-A::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.mediaPrioridade-A::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.mediaPrioridade-A::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}


div.baixaPrioridade-A{
    grid-row: 3;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 100px;
    gap: 5px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;    border: 1px solid #0059ff36;

}
.baixaPrioridade-A::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.baixaPrioridade-A::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.baixaPrioridade-A::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.baixaPrioridade-A::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}


div.altaPrioridade-F{
    grid-row: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    gap: 5px;
    grid-column: 1;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #ff00004f;

}
.altaPrioridade-F::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.altaPrioridade-F::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.altaPrioridade-F::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.altaPrioridade-F::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}


div.mediaPrioridade-F{
    grid-row: 2;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    border-radius: 8px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
        border: 1px solid #e7bf0a63;

}

.mediaPrioridade-F::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.mediaPrioridade-F::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.mediaPrioridade-F::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.mediaPrioridade-F::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}


div.baixaPrioridade-F{
    grid-row: 3;
    grid-column: 1;
    min-height:200px;
    min-width: 100%;
    max-height: 0px;
    border-radius: 8px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #0059ff36;

}
.baixaPrioridade-F::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.baixaPrioridade-F::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
     border-radius: 6px; /* Borda arredondada */
}

.baixaPrioridade-F::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.baixaPrioridade-F::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}


div.altaPrioridade-C{
    grid-row: 1;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    gap: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #ff00004f;

}
.altaPrioridade-C::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.altaPrioridade-C::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.altaPrioridade-C::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.altaPrioridade-C::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}

div.mediaPrioridade-C{
    grid-row: 2;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #e7bf0a63;

}
.mediaPrioridade-C::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.mediaPrioridade-C::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.mediaPrioridade-C::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.mediaPrioridade-C::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}

div.baixaPrioridade-C{
    grid-row: 3;
    grid-column: 1;
    min-height: 200px;
    min-width: 100%;
    max-height: 0px;
    gap: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #0059ff36;

}
.baixaPrioridade-C::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.baixaPrioridade-C::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.baixaPrioridade-C::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.baixaPrioridade-C::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}

.status{
    grid-column: 2 / -1;
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: start;
    text-wrap: nowrap;
}

.container-Grid{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 70px 70px 100px 100px 100px 100px;
    gap: 5px;
}

.container-Grid>aside{
    grid-row:3 / -2 ;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 55px;
    flex-direction: column;
    
}

aside>div{
    height: 25px;;
    min-width: min-content;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

div.txtAltaprioridade{
    color: red;
    font-size: medium;
    border-left: 1px solid red;
    border-bottom: 1px solid red;

}

div.txtMediaprioridade{
    font-size: medium;
    border-bottom: 1px solid yellow;
    border-left: 1px solid yellow;
    color: rgb(255, 230, 0);
}

div.txtBaixaprioridade{
    font-size: medium;    
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    color: rgb(0, 102, 255);
}

footer{
    grid-row:5;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height:50px;
    min-width: 90%;
    font-size: medium;
    padding-left: 5px;
    background-color: transparent;
    border-radius: 5px;
    border-left: 8px solid red;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    gap: 8px;
    cursor: pointer;
}

.Todas::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

.Todas::-webkit-scrollbar-thumb {
    background-color: #beb5b5; /* Cor do "pulgar" (a parte móvel da scrollbar) */
    border-radius: 6px; /* Borda arredondada */
}

.Todas::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da "pista" (a parte fixa da scrollbar) */
}

.Todas::-webkit-scrollbar-thumb:hover {
    background-color: #797979c5; /* Cor do "pulgar" ao passar o mouse sobre ele */
}

.janela-modal{
    color: white;
    height: 100vh ;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.856);
    backdrop-filter: blur(1px);
    background-color: transparent;
    transition: 2s ;
    transition-delay: 0s;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 350px;
    background-color: rgba(12, 11, 11, 0.747);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}


.form-nome{
    position: relative;
    width: 190px;
}

.form-nome input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-nome input:focus,
.form-nome input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-nome label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-nome label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-nome input:focus+label span,
.form-nome input:valid+label span{
    color: lightblue;
    transform: translateY(-30px);
}


.form-desc{
    position: relative;
    width: 190px;
}

.form-desc input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-desc input:focus,
.form-desc input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-desc label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-desc label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-desc input:focus+label span,
.form-desc input:valid+label span{
    color: lightblue;
    transform: translateY(-30px);
}

.btnCriar{
    width: 100px;
    height: 50px;
    color: lightblue;
    background-color: black;
    border-radius: 10px;
    font-size: 18px;
}

.definePrioridade{
    display: flex;
    gap: 5px;
}

.btnFecharModal{
    position: absolute;
    top: -3px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: red;
    border: 0;
    color: #f1f1f1;
}